# Too bigga files
/piznet/output/*

# Environment variables
.env
.env.local
.env.*.local

# Jupyter Notebook checkpoints
.ipynb_checkpoints/
*/.ipynb_checkpoints/*

# Optional: Weitere typische Ausschlüsse
__pycache__/
*.pyc
*.pyo
.DS_Store
node_modules/